header {
  display: flex;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 5;
  padding: 10px 25px;
}

header h3 {
  padding: 5px 10px;
  color: MediumAquamarine;
  display: inline-flex;
  flex-grow: 1;
}

nav {
  justify-content: flex-end;
  display: inline-flex;
  flex-grow: 4;
  padding-right: 50px;
}

header li {
  text-decoration: none;
  display: inline-flex;
  padding: 10px;
}

header a {
  color: black;
}

.main {
  display: flex;
  position: relative;
  top: 110px;
  border: 1px solid black;
  font-family: Georgia, serif;
  font-size: 17px;
}

.column {
  margin: 0 auto;
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

.column, .article, .story-link, .caption, .pic {
  flex-wrap: wrap;
}

.pic {
  background-size: cover;
  background-color: darkGrey;
  display: flex;
}

.caption {
  flex-wrap: wrap;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20% 5%;
}

.big {
  font-size: 40px;
  padding: 5% 5%;
  text-align: left;
}

.sm {
  width: 48%;
  display: inline-flex;
}

#story-main {
  background-image: url("../images/story-main.png");
  height: 300px;
}

#story1 {
  background-image: url("../images/girl.png");
  width: 48%;
  height: 250px;
  display: inline-flex;
}

#story2 {
  background-image: url("../images/camera.png");
  width: 48%;
  height: 250px;
  display: inline-flex;
}

#story3 {
  background-image: url("../images/cat.png");
  height: 250px;
}
