header {
  display: flex;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 5;
  padding: 10px 25px;
}

header h3 {
  padding: 5px 10px;
  color: MediumAquamarine;
  display: inline-flex;
  flex-grow: 1;
}

nav {
  justify-content: flex-end;
  display: inline-flex;
  flex-grow: 4;
  padding-right: 50px;
}

header li {
  text-decoration: none;
  display: inline-flex;
  padding: 10px;
}

header a {
  color: black;
}

.main {
  display: flex;
  position: relative;
  top: 110px;
  border: 1px solid black;
}

.column {
  margin: 0 auto;
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

.column, .article, .story-link, .caption {
  border: 1px solid black;
}

.pic {
  background-size: cover;
  background-color: darkGrey;
}

#story-main {
  background-image: url("../images/story-main.png");
  height: 350px;
}

#story1 {
  background-image: url("../images/story-1.png");
  width: 50%;
  height: 200px;
}

#story2 {
  background-image: url("../images/story-2.png");
  width: 50%;
  height: 200px;
}

#story3 {
  background-image: url("../images/story-3.png");
}

.caption {
  color: white;
  font-family: Georgia, serif;
  font-size: 40px;
}
